@import '~/styles/vars';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	&:after, &:before {
		box-sizing: border-box;
	}
}

body {
	color: #333;
	font-family: $font-primary;
	font-weight: $weight-regular;
	-webkit-font-smoothing: antialiased;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-primary;
	font-weight: $weight-bold;
}
