$color0: #4818a1;
$color1: #00d4ff;
$color2: #edfc64;
$color3: #f02973;

$font-primary: 'Roboto', sans-serif;

$weight-light: 100;
$weight-regular: 400;
$weight-semibold: 700;
$weight-bold: 900;

:export {
  color0: $color0;
  color1: $color1;
  color2: $color2;
  color3: $color3;
}
