.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.touchable {
  bottom: 0;
  height: 100%;
  left: 0;
  pointer-events: all;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.top {
  background: #fff;
  height: 50vh;
  pointer-events: none;
  user-select: none;
  width: 100%;
}

.bottom {
  align-items: center;
  display: flex;
  height: 50vh;
  justify-content: center;
  pointer-events: none;
  user-select: none;
  width: 100%;
}
