.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.touchable {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.top {
  background: #fff;
  height: 50vh;
  width: 100%;
  user-select: none;
  pointer-events: none;
}

.bottom {
  background: $color0;
  background: linear-gradient(90deg, $color0 0%, $color1 33%, $color2 66%, $color3 100%);
  height: 50vh;
  width: 100%;
  user-select: none;
  pointer-events: none;
}
